<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/users/mypage/<%=id%>">All events</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <form class="logout"  style="margin-top: 15px;margin-right: 15px;" action="/users/logout" method="post">
            <li>
                <a class="logout" href="/" type="submit">Logout</a>
            </li>
            </form>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="allevents">
          <h1 class="page-header">All Events</h1>

          <div class="row placeholders">
          <% for (var i = 0; i < allEvents.length; i++){ %>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="<%= allEvents[i].img_url%>" width="200" height="200" alt="Generic placeholder thumbnail">
              <h4><%= allEvents[i].name%></h4>
              <span class="text-muted">Date: <%= allEvents[i].date%></span><br>
              <span class="text-muted">Time: <%= allEvents[i].time%></span><br>
              <span class="text-muted">Location: <%= allEvents[i].location%></span><br>
              <span class="text-muted">Description: <%= allEvents[i].description%></span><br>
              <span class="text-muted">Created By: <%= allEvents[i].email%></span>
            </div>
            <% } %>
          </div>

          </div>
        </div>
      </div>
    </div>

    <%- include ../partials/footer %>
  </body>
</html>
