<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/users/mypage/<%=id%>">My Page <%= user %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <%- include ../partials/logout %>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>

    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/users/mypage/<%=id%>">My Events<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">My Pets</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="">Create Event</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/events/all">All Events</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1>Create an event</h1><br>
          <form class="form-horizontal" action="/events/new" method="POST">
          <fieldset style="margin-top: 20px;">

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Event Name</label>
            <div class="col-md-6">
            <input id="name" name="name" type="text" placeholder="Event Name" class="form-control input-md" required="">
            <input type="hidden" name="users_id" value="<%=id%>">
            <input type="hidden" name="email" value="<%=user%>">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Image URL</label>
            <div class="col-md-6">
            <input id="img_url" name="img_url" type="text" placeholder="Image URL" class="form-control input-md">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Date</label>
            <div class="col-md-6">
            <input id="date" name="date" type="date" placeholder="Date" class="form-control input-md">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Time</label>
            <div class="col-md-6">
            <input id="time" name="time" type="time" placeholder="Time" class="form-control input-md">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Location</label>
            <div class="col-md-6">
            <input id="location" name="location" type="text" placeholder="Location" class="form-control input-md">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Description</label>
            <div class="col-md-6">
            <input id="discription" name="description" type="text" placeholder="Description" class="form-control input-md">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <div class="col-md-4">
              <button id="submit" type="submit" class="btn btn-lg" style="margin-top: 50px;background-image: linear-gradient(to bottom,#a94442 0,#a94442 100%); color: white;">Submit</button>
            </div>
          </div>

          </fieldset>
          </form>

        </div>
        </div>
      </div>
    </div>

    <%- include ../partials/footer %>
  </body>
</html>
