<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%- include ../partials/nav %>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/users/mypage/<%=id%>">My Events<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/events/new">Create Event</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/pets">My Pets</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/pets/new">Add Pets</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/events/all">All Events</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/pets/all">All Pets</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">My Pets</h1>

          <div class="row placeholders">
          <% for (var i = 0; i < myPets.length; i++){ %>

            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="<%= myPets[i].imgurl%>" width="200" height="200" alt="Pets Img">
              <h4><%= myPets[i].name%></h4>
              <span class="text-muted">Date: <%= myPets[i].breed%></span><br>
              <span class="text-muted">Time: <%= myPets[i].funfact%></span><br>
            </div>

            <% } %>
          </div>

          </div>
        </div>
      </div>
    </div>

    <%- include ../partials/footer %>
  </body>
</html>
