<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
            <%- include ../partials/nav %>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/users/mypage/<%=id%>">My Events<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/events/new">Create Event</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/pets">My Pets</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/pets/new">Add Pets</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/events/all">All Events</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/pets/all">All Pets</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">My Events</h1>

          <div class="row placeholders">
          <% for (var i = 0; i < events.length; i++){ %>

            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="<%=events[i].img_url%>" width="200" height="200" alt="Generic placeholder thumbnail">
              <h4><%=events[i].name%></h4>
              <span class="text-muted">Date: <%=events[i].date%></span><br>
              <span class="text-muted">Created By User: <%=events[i].users_id%></span><br>
              <span class="text-muted">Time: <%=events[i].time%></span><br>
              <span class="text-muted">Location: <%=events[i].location%></span><br>
              <span class="text-muted">Description: <%=events[i].description%></span><br>
              <div class="form">
                  <a href="/events/<%=events[i].events_id%>/edit" name="edit" class="button rosy" style="display: inline-block;padding-top: 10px;">Edit</a>
                <form class="" action="/events/<%=events[i].events_id%>?_method=DELETE" method="post" style="display: inline-block;padding-top: 10px;">
                  <button type="submit" name="delete" class="button rosy">Delete</button>
                </form>
              </div>
            </div>
            <% } %>
          </div>

          <h1 class="page-header">My Saved Events</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>

    <%- include ../partials/footer %>
  </body>
</html>
