<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Page <%= user %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <form class="logout"  style="margin-top: 15px;margin-right: 15px;" action="/users/logout" method="post">
            <li>
                <a class="logout" href="/" type="submit">Logout</a>
            </li>
          </form>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">My Events<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">My Pets</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/events/new">Create Event</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">All Events</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">My Events</h1>

          <div class="row placeholders">
          <% for (var i = 0; i < events.length; i++){ %>

            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="<%=events[i].img_url%>" width="200" height="200" alt="Generic placeholder thumbnail">
              <h4><%=events[i].name%></h4>
              <span class="text-muted">Date: <%=events[i].date%></span><br>
              <span class="text-muted">Created By User: <%=events[i].users_id%></span><br>
              <span class="text-muted">Time: <%=events[i].time%></span><br>
              <span class="text-muted">Location: <%=events[i].location%></span><br>
              <span class="text-muted">Description: <%=events[i].description%></span><br>
              <div class="form">
                <form class="" action="index.html" method="post">
                  <button type="sumbit" name="edit" class="button rosy">Edit</button>
                </form>
                <form class="" action="index.html" method="post">
                  <button type="submit" name="delete" class="button rosy">Delete</button>
                </form>
              </div>
            </div>
            <% } %>
          </div>

          <h1 class="page-header">My Saved Events</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>

    <%- include ../partials/footer %>
  </body>
</html>
